In [59]:
import random
import pandas as pd
import math

In [24]:
lista = [0, 1, 1, 5, 7, 10, 10]
lista_aux = lista
for x in range(len(lista)-1):
    if x > 0:
        if lista[x] == lista[x-1]:
            lista_aux.pop(x-1)

print(lista)

[0, 1, 5, 7, 10]

In [ ]:
lista = ["Telefonou para a vítima?", "Esteve no local do crime?", "Tinha dívidas com a vítima?", "Mora perto da vítima?", "Tem histórico criminal?"]
lista_s = []
lista_n = []

for x in lista:
    while True:
        r = str(input(x))
        if r == 'S' or r == 'N':
            break
        else:
            print("Entrada inválida. Tente novamente!")
    if r == 'S':
        lista_s.append(r)
    else:
        lista_n.append(r)

if len(lista_s) == 2:
    print("Você é suspeita!")
elif len(lista_s) > 2 or len(lista_s) < 5:
    print("Você é cúmplice!")
else:
    print("Você é o(a) assassino(a)!")

In [40]:
matriz = []
linha = []
for i in range(0, 2):
    linha = []
    for j in range(0, 2):
        linha.append(random.randint(0, 10))
    matriz.append(linha)
print(matriz)

[[8, 5], [4, 4]]

In [41]:
 (1, 2, ('aa', 'ab')) > (1, 2,('aa', 'a'), 4)

True

In [42]:
lista = [3, 9, 'oi']
lista[0] = 5
print(lista)

[5, 9, 'oi']

In [3]:
iris = pd.read_csv('IRIS.csv')
iris

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [4]:
iris['nova_flor'] = 'Azaléia'

In [5]:
iris['nova_flor']

0      Azaléia
1      Azaléia
2      Azaléia
3      Azaléia
4      Azaléia
        ...
145    Azaléia
146    Azaléia
147    Azaléia
148    Azaléia
149    Azaléia
Name: nova_flor, Length: 150, dtype: object

In [6]:
iris = iris.drop(columns = ['nova_flor'])

In [9]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [7]:
iris = iris.rename(columns = {'species':'espécies'})

In [11]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width     espécies
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [8]:
iris[iris['sepal_length'] > 5][['sepal_length']]

     sepal_length
0             5.1
5             5.4
10            5.4
14            5.8
15            5.7
..            ...
145           6.7
146           6.3
147           6.5
148           6.2
149           5.9

[118 rows x 1 columns]

In [9]:
iris[(iris['sepal_length'] > 3) & (iris['sepal_width'] > 3)][['sepal_length', 'sepal_width']]

     sepal_length  sepal_width
0             5.1          3.5
2             4.7          3.2
3             4.6          3.1
4             5.0          3.6
5             5.4          3.9
..            ...          ...
140           6.7          3.1
141           6.9          3.1
143           6.8          3.2
144           6.7          3.3
148           6.2          3.4

[67 rows x 2 columns]

In [10]:
iris = iris.rename(columns = {'sepal_width':'tamanho_sepa'})

In [19]:
iris.head()

   sepal_length  tamanho_sepa  petal_length  petal_width     espécies
0           5.1           3.5           1.4          0.2  Iris-setosa
1           4.9           3.0           1.4          0.2  Iris-setosa
2           4.7           3.2           1.3          0.2  Iris-setosa
3           4.6           3.1           1.5          0.2  Iris-setosa
4           5.0           3.6           1.4          0.2  Iris-setosa

In [20]:
iris.tail()

     sepal_length  tamanho_sepa  petal_length  petal_width        espécies
145           6.7           3.0           5.2          2.3  Iris-virginica
146           6.3           2.5           5.0          1.9  Iris-virginica
147           6.5           3.0           5.2          2.0  Iris-virginica
148           6.2           3.4           5.4          2.3  Iris-virginica
149           5.9           3.0           5.1          1.8  Iris-virginica

In [11]:
iris = iris.drop(columns = ['tamanho_sepa'])

In [12]:
iris.head()

   sepal_length  petal_length  petal_width     espécies
0           5.1           1.4          0.2  Iris-setosa
1           4.9           1.4          0.2  Iris-setosa
2           4.7           1.3          0.2  Iris-setosa
3           4.6           1.5          0.2  Iris-setosa
4           5.0           1.4          0.2  Iris-setosa

In [23]:
iris.describe()

       sepal_length  petal_length  petal_width
count    150.000000    150.000000   150.000000
mean       5.843333      3.758667     1.198667
std        0.828066      1.764420     0.763161
min        4.300000      1.000000     0.100000
25%        5.100000      1.600000     0.300000
50%        5.800000      4.350000     1.300000
75%        6.400000      5.100000     1.800000
max        7.900000      6.900000     2.500000

In [13]:
iris_copy = iris.copy()

In [14]:
iris_copy.head()

   sepal_length  petal_length  petal_width     espécies
0           5.1           1.4          0.2  Iris-setosa
1           4.9           1.4          0.2  Iris-setosa
2           4.7           1.3          0.2  Iris-setosa
3           4.6           1.5          0.2  Iris-setosa
4           5.0           1.4          0.2  Iris-setosa

In [15]:
iris_copy.columns = ['sepal_length', 'petal_length', 'petal_width', 'species', ]

In [32]:
iris_copy.head()

   sepal_length  petal_length  petal_width      species
0           5.1           1.4          0.2  Iris-setosa
1           4.9           1.4          0.2  Iris-setosa
2           4.7           1.3          0.2  Iris-setosa
3           4.6           1.5          0.2  Iris-setosa
4           5.0           1.4          0.2  Iris-setosa

In [16]:
def functionColuna(petal_width):
    return petal_width + 2

iris_copy['new_width'] = iris_copy['petal_width'].apply(functionColuna)

In [17]:
iris_copy.head()

   sepal_length  petal_length  petal_width      species  new_width
0           5.1           1.4          0.2  Iris-setosa        2.2
1           4.9           1.4          0.2  Iris-setosa        2.2
2           4.7           1.3          0.2  Iris-setosa        2.2
3           4.6           1.5          0.2  Iris-setosa        2.2
4           5.0           1.4          0.2  Iris-setosa        2.2

In [19]:
filtro = iris_copy.query('petal_length == 1.3')[['sepal_length', 'petal_length']]
filtro

    sepal_length  petal_length
2            4.7           1.3
16           5.4           1.3
36           5.5           1.3
38           4.4           1.3
40           5.0           1.3
41           4.5           1.3
42           4.4           1.3

In [20]:
filtro_linha = iris_copy.loc[0:5, ['sepal_length', 'petal_length']]
filtro_linha

   sepal_length  petal_length
0           5.1           1.4
1           4.9           1.4
2           4.7           1.3
3           4.6           1.5
4           5.0           1.4
5           5.4           1.7

In [23]:
iris_copy.loc[4:5, ['sepal_length']] = 8
filtro = iris_copy.loc[4:5, ['sepal_length']]
filtro

   sepal_length
4           8.0
5           8.0

In [27]:
ordenado = iris_copy.sort_values('sepal_length', ascending = False)
ordenado

     sepal_length  petal_length  petal_width         species  new_width
4             8.0           1.4          0.2     Iris-setosa        2.2
5             8.0           1.7          0.4     Iris-setosa        2.4
131           7.9           6.4          2.0  Iris-virginica        4.0
122           7.7           6.7          2.0  Iris-virginica        4.0
135           7.7           6.1          2.3  Iris-virginica        4.3
..            ...           ...          ...             ...        ...
41            4.5           1.3          0.3     Iris-setosa        2.3
38            4.4           1.3          0.2     Iris-setosa        2.2
8             4.4           1.4          0.2     Iris-setosa        2.2
42            4.4           1.3          0.2     Iris-setosa        2.2
13            4.3           1.1          0.1     Iris-setosa        2.1

[150 rows x 5 columns]

In [30]:
for index, coluna in iris_copy.items():
    print(index)
    print(coluna)

sepal_length
0      5.1
1      4.9
2      4.7
3      4.6
4      8.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal_length, Length: 150, dtype: float64
petal_length
0      1.4
1      1.4
2      1.3
3      1.5
4      1.4
      ...
145    5.2
146    5.0
147    5.2
148    5.4
149    5.1
Name: petal_length, Length: 150, dtype: float64
petal_width
0      0.2
1      0.2
2      0.2
3      0.2
4      0.2
      ...
145    2.3
146    1.9
147    2.0
148    2.3
149    1.8
Name: petal_width, Length: 150, dtype: float64
species
0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: species, Length: 150, dtype: object
new_width
0      2.2
1      2.2
2      2.2
3      2.2
4      2.2
      ...
145    4.3
146    3.9
147    4.0
148    4.3
149    3.8
Name: new_width, Length: 150, dtype: float64

In [44]:
def somaUm(valor):
    return valor + 1

iris_copy['nova_coluna'] = iris_copy['sepal_length'].apply(somaUm)
iris_copy['nova_coluna']

iris_copy.drop(columns = ['sepal_length'])

iris_copy.rename(columns = {'nova_coluna' : 'sepal_length'})

,sepal_length,petal_length,petal_width,species,new_width,sepal_length
0,5.1,1.4,0.2,Iris-setosa,2.2,6.1
1,4.9,1.4,0.2,Iris-setosa,2.2,5.9
2,4.7,1.3,0.2,Iris-setosa,2.2,5.7
3,4.6,1.5,0.2,Iris-setosa,2.2,5.6
4,8.0,1.4,0.2,Iris-setosa,2.2,9.0
...,...,...,...,...,...,...
145,6.7,5.2,2.3,Iris-virginica,4.3,7.7
146,6.3,5.0,1.9,Iris-virginica,3.9,7.3
147,6.5,5.2,2.0,Iris-virginica,4.0,7.5
148,6.2,5.4,2.3,Iris-virginica,4.3,7.2
149,5.9,5.1,1.8,Iris-virginica,3.8,6.9

In [46]:
valores_unicos = iris_copy['petal_width'].unique()
valores_unicos

array([0.2, 0.4, 0.3, 0.1, 0.5, 0.6, 1.4, 1.5, 1.3, 1.6, 1. , 1.1, 1.8,
       1.2, 1.7, 2.5, 1.9, 2.1, 2.2, 2. , 2.4, 2.3])

In [49]:
iris_copy['sepal_length'] = iris_copy['sepal_length'].drop_duplicates()
iris_copy[['sepal_length']]

     sepal_length
0             5.1
1             4.9
2             4.7
3             4.6
4             8.0
..            ...
145           NaN
146           NaN
147           NaN
148           NaN
149           NaN

[150 rows x 1 columns]

In [60]:
for id, value in iris_copy['sepal_length'].items():
    if math.isnan(value):
        iris_copy = iris_copy.drop(index = id)

In [61]:
iris_copy[['sepal_length']]

     sepal_length
0             5.1
1             4.9
2             4.7
3             4.6
4             8.0
7             5.0
8             4.4
10            5.4
11            4.8
13            4.3
14            5.8
15            5.7
27            5.2
33            5.5
41            4.5
48            5.3
50            7.0
51            6.4
52            6.9
54            6.5
56            6.3
58            6.6
61            5.9
62            6.0
63            6.1
64            5.6
65            6.7
68            6.2
76            6.8
102           7.1
105           7.6
107           7.3
109           7.2
117           7.7
130           7.4
131           7.9

In [ ]:
print("Informe os valores e digite '0' para parar: ")
while True:
    x = str(input())
    if x == 0:
        break
    lista.append(x)
lista = ['a','a','a']
conjunto = set(lista)
print(len(conjunto))

In [ ]:
numero = int(input("Informe um valor: "))
print(f"O número é: {numero}")
print(f"Seu antecessor é {numero - 1}")
print(f"Seu sucessor é {numero + 1}")

In [40]:
lista_aux = []
lista_quantidade = []
lista_valor = []
cont = 0
lista = ['k', 'd', 'a', 'b', 'a', 'c']
conjunto = list(set(lista))
for c in conjunto:
    for l in lista:
        if c == l:
            cont = cont + 1
    lista_quantidade.append(cont)
    cont = 0
print(lista_quantidade)
print(conjunto)

[1, 1, 2, 1, 1]
['k', 'd', 'a', 'b', 'c']

In [14]:
def verificaMenor(n):
    if n == 0:
        return 'término'
    else:
        return verificaMenor(n - 1)

verificaMenor(5)

'término'

In [ ]:
lista = []

for i in range()